.divers-container {
    margin: 46px 24px 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    

    .drivers-body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        width: 90%;
           }
}

.modalSmall.driver-card{

    height: 100% !important;
}