.kids-zone-page{
    width: 100%;
    margin: 46px;


 
    
    @media only screen and (min-width:768px) and (max-width:1025px) {
        width: 100%;
        margin: 46px 16px;

    }

    @media only screen and (max-width: 767px) {
            width: 100%;
            height: 100vh;
            margin: 52px 0px;
            
        }
    
}