$primary: #00FF59;
$primary-green-text:#04dc4f;

$main-bg: #121212;
$navBar-bg: rgba(250, 250, 250, 0.047);

$primary-text: #FCFCFC;
$secondary-text: #b9b9b9;

$separation-line: #575757;

$modal-bg: #1F1F1F;
$modal-bg-second: #2d2d2d;
$modal-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);



