@import "../share/colour-library.scss";

.board {
    // width: 76vh;
    // height: 90vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 6px;
    gap: 16px;
    width: 640px;
    height: 760px;
    background-color: $modal-bg;
    padding: 24px;

   

    @media only screen and (min-width:768px) and (max-width:1025px) {
            width: 100%;
            height: 78vh;
    }

    @media only screen and (max-width: 767px) {
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 59vh;
        gap: 12px;
        padding: 16px
       
    }

  

}
