@import "../share/colour-library.scss";
.card {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    background-color: $modal-bg-second;
    box-shadow: $modal-box-shadow;
    border-radius: 6px;

    &:hover {
    background: linear-gradient(90deg, #037989, rgb(17, 165, 51), #ee6352);
        background-size: 300%;
        background-position: left;
        transition: background-position 350ms;
        transition: .9s ease-in-out;
        background-position: right;
    }

    &:active:not([disabled]) {
        box-shadow: $modal-box-shadow;
        transform: scale(.95)
    }

    
 
    @media only screen and (max-width: 767px) {
        height: 100%;
    
    }

    img {
        width: 98%;
        height: 98%;
        border-radius: 4px;
    }

    // hide and flip card
    .card-face {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &.card-back-face {
            transform: rotateY(180deg);
        }
        
        img {
            width: 85%;
            height: 85%;
            border-radius: 4px;
        }

    }

    &.is-flipped {
        transform: rotateY(180deg);
    }

    &.is-inactive {
        opacity: 0;
    }
}