.home-container{
    margin: 46px 24px 46px 0px;

    .top-image{
        height: 150px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 46px;
    }
}

.driver-section {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.more-drivers-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}